/* Extra small devices (portrait phones, less than 576px)*/


/* No media query for `xs` since this is the default in Bootstrap*/


/* Small devices (landscape phones, 576px and up)*/

@media (max-width: 576px) {}


/* Medium devices (tablets, 768px and up)*/

@media (max-width: 768px) {
    .img-site-resize {
        margin-top: 15px;
    }
}


/* Large devices (desktops, 992px and up)*/

@media (max-width: 992px) {
    /* Header bg image */
    header.main-bg {
        position: relative;
        background: white;
        background-image: url("../images/bg1.jpg");
        background-attachment: fixed;
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .container {
        max-width: 90%;
    }
}


/* Extra large devices (large desktops, 1200px and up)*/


/* @media (min-width: 1200px) { ... } */

div.col-sm {
    margin: 0px;
    padding: 0px;
}


/* H Tags */

h1 {
    padding-left: 10%;
    font-family: 'Roboto', sans-serif;
    -webkit-text-stroke: .8px #002032;
}

h2 {
    /* padding-top: 25px; */
    color: #c6e2e6;
    font-family: 'Roboto', sans-serif;
}

h3 {
    color: white;
}

h4 {
    color: #ADADAD;
}

h5 {
    color: #002032;
    padding-left: 10%;
    text-decoration: underline;
    text-decoration-color: #002032;
    text-decoration-thickness: 4px;
}


/* ========== */


/* Header bg image */

.main-bg {
    position: relative;
    background: white;
    background-image: url("../images/bg1.jpg");
    background-attachment: fixed;
    background-position: top center;
    /* background-size: cover; */
    background-size: 100%;
    background-repeat: no-repeat;
}


/* Body and Header */

body header {
    width: 100%;
}

body {
    background-color: black;
    font-size: 14px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

header .navbar {
    color: #002032;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.navbar a {
    color: #002032;
    font-weight: bold;
}

.navbar a:hover {
    color: white;
}

header #header {
    height: 475px;
    width: 100%;
    margin: auto;
    padding: 0px;
    color: white;
}

header .row {
    height: 100%;
    color: white;
    background-color: #252525;
}

header .navbar {
    height: 100%;
}


/* Test Gradient */

#firstbg {
    position: relative;
    z-index: 1;
    /* matters! */
    background: #002032;
    transition: background 0.7s;
}

#firstbg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( to bottom, transparent, #002032);
    z-index: -1;
}

#firstbg:hover {
    background: #0a4263;
}


/*  */

#secondbg {
    background-color: black;
}


/* About me */

.about {
    height: 100%;
    padding-bottom: 20px;
}


/* hover over div, underline */

div.container:hover h2 {
    /* color: red; */
    text-decoration: underline;
    text-decoration-color: #38b0c9;
    text-decoration-thickness: 4px;
}


/* Container Changes */

div.container {
    padding-top: 35px;
    padding-bottom: 35px;
}

.about-me-info {
    /* background-color: pink; */
    margin-left: 5%;
    width: 100%;
}


/* Experience */

.experience {
    background-color: yellow;
    height: 200px;
}


/* Education */

.education {
    background-color: green;
    height: 100%;
    color: white;
}

.education-info {
    padding-left: 25px;
}

.list-group-item {
    background-color: #000;
    border: 1px solid #c6e2e6;
    padding-top: 25px;
    padding-bottom: 25px;
}

.list-inline {
    padding-left: 25px;
}

ul li {
    font-size: 12px;
}

li img {
    position: absolute;
    bottom: 15px;
    right: 90px;
    max-width: 175px;
    max-height: 175px;
    z-index: 0;
    opacity: .1;
}

#courses {
    z-index: 2;
    position: relative;
}


/* Projects */

.projects {
    background-color: blue;
    height: 100%;
    padding-bottom: 20px;
}

.projects-info {
    background-color: lightgreen;
    padding-left: 25px;
}

.card {
    /* If you assign a width, and have more than two columns, will break */
    /* width: 50%; */
}


/* Contact */

.contact {
    background-color: purple;
    height: 250px;
    color: white;
}


/* Basic anchors */

a {
    color: white;
}

a:hover {
    color: grey;
}